# Creating a database
The goal of this notebook is to create a database (astronomy_data.db) with several tables. The database will be used in later notebooks for practice with querying.

### Preliminaries
Import any necessary moduels.

In [5]:
import sqlite3
import pandas as pd

Open a connection to an SQL database file. (A new db file will be created when we connect.)

Connect a cursor to the database.

In [6]:
conn = sqlite3.connect('astronomy_data.db')
cur = conn.cursor()

### Create and insert data into the tables
Create the `solar_system_20` table.

In [8]:
query = """CREATE TABLE IF NOT EXISTS solar_system_20 (
    num INT, 
    ss_name TEXT, 
    diameter INT, 
    classification TEXT,
    ss_location TEXT
);
    """

cur.execute(query)

In [9]:
query = """INSERT INTO solar_system_20(num, ss_name, diameter, classification, ss_location) VALUES
    (1, 'Sun', 865000, 'star', 'close to the center of the Solar System'),
    (2, 'Jupiter', 88846, 'planet', '5th planet from the Sun'),
    (3, 'Saturn', 74900, 'planet', '6th planet from the Sun'),
    (4, 'Uranus', 31763, 'planet', '7th planet from the Sun'),
    (5, 'Neptune', 30779, 'planet', '8th planet from the Sun'),
    (6, 'Earth', 7926, 'planet', '3th planet from the Sun'),
    (7, 'Venus', 7521, 'planet', '2nd planet from the Sun'),
    (8, 'Mars', 4222, 'planet', '4th planet from the Sun'),
    (9, 'Ganymede', 3270, 'moon', 'orbiting Jupiter'),
    (10, 'Titan', 3200, 'moon', 'orbiting Saturn'),
    (11, 'Mercury', 3031, 'planet', 'closest planet to the Sun'),
    (12, 'Callisto', 2996, 'moon', 'orbiting Jupiter'),
    (13, 'Io', 2264, 'moon', 'orbiting Jupiter'),
    (14, 'The Moon', 2159, 'moon', 'orbiting Earth'),
    (15, 'Europa', 1940, 'moon', 'orbiting Jupiter'),
    (16, 'Triton', 1680, 'moon', 'orbiting Neptune'),
    (17, 'Pluto', 1473, 'dwarf planet', 'beyond Neptune'),
    (18, 'Eris', 1445, 'dwarf planet', 'beyond Neptune'),
    (19, 'Titana', 982, 'moon', 'orbiting Uranus'),
    (20, 'Rhea', 949, 'moon', 'orbiting Saturn');
    """

cur.execute(query)

Create the `black_holes` table.

In [10]:
query = """CREATE TABLE IF NOT EXISTS black_holes (
    num INT, 
    name TEXT, 
    base_mass INT, 
    power INT
);
    """

cur.execute(query)

In [11]:
query = """INSERT INTO black_holes(num, name, base_mass, power)
VALUES
    (1, 'M104 - Sombrero Galaxy', 1, 9),
    (2, 'M31 - Andromeda Galaxy', 1, 8),
    (3, 'NGC 4889', 1, 10),
    (4, 'Cygnus X-1', 15, 0);
        """

cur.execute(query)

Create the `circ_const`, `sum_const`, and `fall_const` tables.

In [12]:
query = """CREATE TABLE IF NOT EXISTS circ_consts ( 
    const_name TEXT, 
    area INT
);        """

cur.execute(query)

In [13]:
query = """CREATE TABLE sum_consts ( 
    const_name TEXT, 
    main_stars INT
);
        """

cur.execute(query)

In [14]:
query = """CREATE TABLE IF NOT EXISTS fall_consts ( 
    const_name TEXT, 
    area INT,
    main_stars INT
);
        """

cur.execute(query)

In [15]:
query = """INSERT INTO circ_consts(const_name, area)
VALUES ('Cassiopeia', 598),
    ('Ursa Major', 1280),
    ('Ursa Minor', 256),
    ('Draco', 1083),
    ('Cepheus', 588);
        """

cur.execute(query)

In [16]:
query = """ INSERT INTO sum_consts(const_name, main_stars)   
 VALUES ('Cygnus', 9),
    ('Lyra', 5),
    ('Ursa Major', 20),
    ('Scorpius', 18),
    ('Andromeda', 16),
    ('Cassiopeia', 5);
        """

cur.execute(query)

In [17]:
query = """INSERT INTO fall_consts(const_name, area, main_stars)   
 VALUES ('Andromeda', 722, 16),
    ('Cassiopeia', 598, 5),
    ('Cephius', 588, 7),
    ('Cetus', 1231, 14),
    ('Ursa Major', 1280, 20),
    ('Ursa Minor', 256, 7);

        """

cur.execute(query)

### Commit the changes and close the connection
Note: if we performed any operation on the database other than sending queries, we need to commit those changes via the `.commit()` method before we close the connection.

In [18]:
conn.commit()
conn.close()

### Check the database
Check that there is data in the tables through a query.

In [19]:
conn = sqlite3.connect('astronomy_data.db')
cur = conn.cursor()

In [20]:
query = """SELECT * FROM solar_system_20 L;"""
cur.execute(query).fetchall()

[(1, 'Sun', 865000, 'star', 'close to the center of the Solar System'),
 (2, 'Jupiter', 88846, 'planet', '5th planet from the Sun'),
 (3, 'Saturn', 74900, 'planet', '6th planet from the Sun'),
 (4, 'Uranus', 31763, 'planet', '7th planet from the Sun'),
 (5, 'Neptune', 30779, 'planet', '8th planet from the Sun'),
 (6, 'Earth', 7926, 'planet', '3th planet from the Sun'),
 (7, 'Venus', 7521, 'planet', '2nd planet from the Sun'),
 (8, 'Mars', 4222, 'planet', '4th planet from the Sun'),
 (9, 'Ganymede', 3270, 'moon', 'orbiting Jupiter'),
 (10, 'Titan', 3200, 'moon', 'orbiting Saturn'),
 (11, 'Mercury', 3031, 'planet', 'closest planet to the Sun'),
 (12, 'Callisto', 2996, 'moon', 'orbiting Jupiter'),
 (13, 'Io', 2264, 'moon', 'orbiting Jupiter'),
 (14, 'The Moon', 2159, 'moon', 'orbiting Earth'),
 (15, 'Europa', 1940, 'moon', 'orbiting Jupiter'),
 (16, 'Triton', 1680, 'moon', 'orbiting Neptune'),
 (17, 'Pluto', 1473, 'dwarf planet', 'beyond Neptune'),
 (18, 'Eris', 1445, 'dwarf planet', 'beyond Neptune'),
 (19, 'Titana', 982, 'moon', 'orbiting Uranus'),
 (20, 'Rhea', 949, 'moon', 'orbiting Saturn')]

In [21]:
query = """SELECT * FROM black_holes;"""
cur.execute(query).fetchall()

[(1, 'M104 - Sombrero Galaxy', 1, 9),
 (2, 'M31 - Andromeda Galaxy', 1, 8),
 (3, 'NGC 4889', 1, 10),
 (4, 'Cygnus X-1', 15, 0)]

In [22]:
query = """SELECT * FROM circ_consts;"""
cur.execute(query).fetchall()

[('Cassiopeia', 598),
 ('Ursa Major', 1280),
 ('Ursa Minor', 256),
 ('Draco', 1083),
 ('Cepheus', 588)]

In [23]:
query = """SELECT * FROM sum_consts;"""
cur.execute(query).fetchall()

[('Cygnus', 9),
 ('Lyra', 5),
 ('Ursa Major', 20),
 ('Scorpius', 18),
 ('Andromeda', 16),
 ('Cassiopeia', 5)]

In [24]:
query = """SELECT * FROM fall_consts;"""
cur.execute(query).fetchall()

[('Andromeda', 722, 16),
 ('Cassiopeia', 598, 5),
 ('Cephius', 588, 7),
 ('Cetus', 1231, 14),
 ('Ursa Major', 1280, 20),
 ('Ursa Minor', 256, 7)]